.token.selector, .token.property, .token.function{
	color: black;
}

@keyframes breath{
	0%{
		box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.05);
	}
	100%{
		box-shadow: 1px 1px 3px 2px rgba(0,0,0,0.2);
	}
}